
#home{
    border: 1px solid white;
    border-bottom: 1px solid #000;
}

section{
    color: white;
    display: flex;
    background-color: black;
    height: 850px;
}


section > div{
    width: 50%;
    padding: 0 0 0 20px;
}

.story_div{
    height: 600px;
    padding: 50px;
    overflow-y: scroll;
}

.story_div::-webkit-scrollbar-track {
    border: 1px solid white;
    background-color: black;
}

.story_div::-webkit-scrollbar {
    width: 10px;
}

.story_div::-webkit-scrollbar-thumb {
    border-radius: 10px;
    box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #737272;
    border: 1px solid #000;
}

.story_div > img{
    display: inline-flex;
    width: 200px;
    height: 200px;
    float: left;
    margin-top: 30px;
}

p{
    font-size: 23px;
    text-align: justify;
    text-justify: inter-word;

}


h1{
    text-align: center;
    margin: 10px 0px;
}

.highscore_section {
    display: flex;
    align-items: center;
    justify-content: center;
}

#highcore_data div{
    display: flex;
    flex-direction: column;
}

button{
    background-color: brown;
    color: white;
    padding: 15px;
    font-size: 16px;
    border: none;
}

button:active{
    background-color: white;
    transition: background-color 0.3s, color 0.3s;
    color: brown;
}

table{
    width: 100%;
    height: 540px;
    text-align: center;
}

table, th, td {
    color: white;
    border: 1px solid white;
    border-collapse: collapse;
}

tbody tr{
    height: 90px;
}

.rank_img{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
}

.rank_img div{
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: solid 1px white;
}

#see_more_div{
    height: 60px;
    width: 582px;
    display: flex;
    align-items: center;
    justify-content: center;
}
