#tutorial{
    border: 1px solid white;
    border-bottom: 1px solid #000;
}

section{
    color: white;
    display: flex;
    background-color: black;
    height: 850px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#table_div{
    height: 85%;
    width: 60%;
    overflow-y: scroll;
}

#table_div::-webkit-scrollbar-track {
    border: 1px solid white;
    background-color: black;
}

#table_div::-webkit-scrollbar {
    width: 10px;
}

#table_div::-webkit-scrollbar-thumb {
    border-radius: 10px;
    box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #737272;
    border: 1px solid #000;
}

table{
    width: 100%;
    height: 100%;
    text-align: center;
}

table, th, td {
    color: white;
    border: 1px solid white;
    border-collapse: collapse;
}

tbody{
    height: 100%;
}

tbody tr{
    height: 40px;
}